@charset "UTF-8";

*{
	margin:0;
	padding:0;
}

a:link,
a:hover,
a:active,
a:visited{
	color : #fff;	
}

#wrapper{
	position: relative;
	top:0px;
	left:0px;
	width:360px;
	height:600px;
	background: #FFF;
	border: 1px solid #50c8e6;
	color:#333;
	box-shadow: 3px 3px 15px 0px #ccc;
}

#chatUsers{
	position: absolute;
	bottom: 56px;			/* 채팅 인풋 박스 위에 바로 붙도록 함 */
	left:-175px;
	width:175px;
	height:500px;
	background-color: #40b8d6;
	box-shadow: 3px 0px 15px 0px #ccc;
	z-index:10;	
}

#chatUsers > p {
	
	text-align: center;
	color: #FFF;
}

#users{
	color:#fff;
}

#users > p {
	background-image : url('../img/circle.png');
	background-repeat : no-repeat;
	background-position : 0px 5px;
	position: relative;
	top:10px;
	left:10px;
	padding-left:22px;
	
}

header{
	position: relative;
	top: 0px;
	left: 0px;
	color:#fff;
}

#iconDiv{
	position: relative;
	top:10px;
	left:10px;
	z-index:9;
}

#icon{
	font-size:30px;
}

section{
	position: relative;
	top:15px;
	left:20px;
	width:280px;
	overflow:hidden;
}

#conversation{
	position: relative;
	width:360px;
	height:450px;
	overflow-y:scroll;
}

footer{
	position:absolute;
	bottom: 0;
	left: 0;
	width:360px;
	height:56px;
	background: #000;
}

#data{
	
	position: absolute;
	bottom:0;
	top: 6px;
	padding-left: 10px;
	margin-left: 3px; 	
	width: 285px;
	height: 42px;
	background: #50c8e6;
	
	border: 1px solid #60d8f6;
	border: none;
	border-radius: 99px;
	
	font-size:12pt;
	color: #FFF;
	
	outline-style: none;	/* 선택되었을 때 출력 되는 default 외곽선  */
	
}


#data:focus {
	
	background: #60d8f6;
	
}

#datasend{
	
	position: absolute;
	width:50px;
	height:50px;
	top: 3px;
	right: 5px;
	margin-top: auto;
	padding:0;
	background-color : transparent;
	background-image : url('../img/120px_plane_icon.png');
	background-repeat : no-repeat;
	background-size: 50px 50px;
	border:none;
	outline-style: none;	/* 선택되었을 때 출력 되는 default 외곽선  */
	
}

#input_layout {
	
	position: relative;
	background-color: #50c8e6;
	height: 56px;
	z-index:11;	
	
}

input::-webkit-input-placeholder { color: #90f8ff; }


