@charset "UTF-8";

*{
	margin:0;
	padding:0;
}

a:link,
a:hover,
a:active,
a:visited{
	color : #fff;	
}

#wrapper{
	position: relative;
	top:0px;
	left:0px;
	width:300px;
	height:600px;
	background: url('../img/background.jpg');
	color:#fff;
	border:1px solid black;	
}

#chatUsers{
	position: absolute;
	top:50px;
	left:-150px;
	width:150px;
	height:500px;
	background-color: #000;
	z-index:10;	
}

#chatUsers > p {
	text-align: center;
}

#users{
	position: relative;
	top:20px;
	left:10px;
	color:#fff;
}

#users > p {
	background-image : url('../img/circle.png');
	background-repeat : no-repeat;
	background-position : 0px 5px;
	position: relative;
	top:10px;
	left:10px;
	padding-left:22px;
}

#nick{
	position: absolute;
	bottom:5px;
	left:5px;
	width:87px;
	height:26px;	
}

#changeNick{
	position: absolute;
	bottom: 5px;
	right: 5px;
	width:45px;
	height:30px;
}

header{
	position: relative;
	top: 0px;
	left: 0px;
	color:#fff;
}

#iconDiv{
	position: relative;
	top:10px;
	left:10px;
	z-index:9;
}

#icon{
	font-size:30px;
}

section{
	position: relative;
	top:15px;
	left:20px;
	width:280px;
	overflow:hidden;
}

#conversation{
	position: relative;
	width:300px;
	height:450px;
	overflow-y:scroll;
}

footer{
	position:absolute;
	bottom:10px;
	left:30px;	
}

#data{
	width:200px;
	height:21px;
}

#datasend{
	background: #000;
	padding:3px;
	color:#fff;
}



